@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body 
{
  height: 100vh;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 100;
}

body 
{

  color: black;
  background: #182E45;
  overflow-x: hidden;
}

a
{
	color: #292982;
}

p
{
	font-size: 16px;
}

h4
{
	font-size: 19px;
}

/* Desc. */

h1 
{
  margin: 25px 0 15px;
  font-size: 28px;
  font-weight: 400;
}

h2 
{
  font-size: 18px;
  font-weight: 400;
  color: #999;
}

ul
{
	font-size: 18px;
	list-style-type: none;
}

footer
{
	font-size: 12px;
	width: 100%;
	bottom: 2px;
	left: 75%;
	position: fixed;
	font-style: italic;
}

/*SIDEBAR MENU NEEDED CLASSES*/
.wrapper 
{
  display: flex;
  min-height: 100%;
}

.contactme
{
	margin: 20px;
	padding: 20px;
	background-color: #ccc;
	width: 50%;
}

.contactme h3
{
	color: white;
}
.sidebar 
{
  position: fixed;
  left: 0;
  width: 220px;

}

.content 
{
  display: flex;
  flex-direction: column;
  padding: 30px;
  /*background: #eee;*/
  background-color: whitesmoke;
  box-shadow: 0 0 5px rgba(0,0,0,1);
  transform: translate3d(0,0,0);
  transition: transform .3s;
  z-index: 1;
  width: 100%;
  overflow-y: auto;
}

.content.isOpen 
{
  transform: translate3d(220px,0,0);
}

.button 
{
  cursor: pointer;
  color: #182E45;
  width: 4%;
}

.button:before {
  content: '\f0c9';
  font: 42px fontawesome;
}


/* Nav Sidebar */
.title {
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 7px;
  color: #eee;
  border-bottom: 1px solid #222;
  background: #0A182B;
}

.title a
{
	color: white;
	text-decoration: none;
}

.nav li a {
  position: relative;
  display: block;
  padding: 20px 0 20px 50px;
  font-size: 15px;
  color: #eee;
  border-bottom: 1px solid #222;
  text-decoration: none;
}

.nav li a:before {
  font: 14px fontawesome;
  position: absolute;
  top: 19px;
  left: 20px;
}

.nav li:nth-child(1) a:before { content: '\f007'; }
.nav li:nth-child(2) a:before { content: '\f187'; }
.nav li:nth-child(3) a:before { content: '\f003'; }

.nav li a:hover {
  background: #2A5078;
}

.nav li a.active {
  box-shadow: inset 5px 0 0 #5b5, inset 6px 0 0 #222;
  background: #2A5078;
}

/*About Me page*/
.infomeWrapper
{
	display: flex;
	background-color: white;
}

#infome_insidewrapper
{
	display: flex;
	flex-direction: column;
	align-items: stretch;

}

#aboutimg
{
	height: 500px;
	margin: 20px;
}

.infome
{
	flex: 1;
	margin: 20px;

}

.infome ul li
{
	margin: 5px;
}

#aboutmeText
{
	flex: 2;
	margin: 10px;
	text-align: justify;
}


/*Work page*/
.projWrapper
{
	display: flex;
	justify-content: space-between;
	background-color: #1a3354;
	padding: 10px;
}

.subTitle
{
	margin-top: 10px;
}

.projectInfo
{
	flex: 1;
	box-sizing: border-box;
	width: 30%;
	padding: 6px;
	background-color: white;
	align-self: flex-start;
}

.projectTitle
{
	padding: 5px;
	font-weight: bold;
	font-size: 17px;

}

.projectRoles
{
	padding: 5px;

}

.projectURL
{
	padding: 5px;

}

.projectAbout
{
	padding: 5px;
	text-align: justify;

}

.projectShow
{
	display: flex;
	box-sizing: border-box;
	padding: 6px;
	width: 60%;
	align-items: center;
	background-color: rgba(212, 212, 212, .8);
	flex: 2;

}

.projectShowVid
{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	background-color: rgba(212, 212, 212, .8);
	flex: 2;
	align-items: center; 

}

.itemsShow
{
	width: 120%;
}

.itemsVid
{
}

.itemVidpics
{
	display: flex;
}

.projectShow img
{
	max-width: 100%;
}

.projectShowVid img
{
	max-width: 100%;
}

.projectShow a:hover
{
	cursor: pointer;
}

@media only screen and (max-width: 700px) 
{
	
	.projWrapper
	{
		flex-direction: column;
	}

	.projectShow
	{
		flex-wrap: wrap;
		align-self: center;
		flex: none;
	}

	.projectShowVid
	{
		flex: none;
	}

	.projectShow img
	{
		margin-top: 10px;
	}

	.projectInfo
	{
		width: 100%;
	}

	.infomeWrapper
	{
		flex-wrap: wrap;
	}
}