@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

body {
  font: 600 12px/1 'Open Sans', sans-serif;
  color: #182E45;
  background: #182E45;
  overflow-x: hidden;
}



/*SIDEBAR MENU NEEDED CLASSES*/
.wrapper 
{
  display: flex;
  min-height: 100%;
}

.sidebar 
{
  position: absolute;
  width: 220px;
}

.content 
{
	flex: 1;
  padding: 30px;
  background: #eee;
  box-shadow: 0 0 5px rgba(0,0,0,1);
  transform: translate3d(0,0,0);
  transition: transform .3s;
  z-index: 1;
}


.content.isOpen 
{
  transform: translate3d(220px,0,0);
}

.button 
{
  cursor: pointer;
}

.button:before {
  content: '\f0c9';
  font: 42px fontawesome;
}

/*Added Classes for indivdual Pages*/
.mainTitle
{
	flex: 1;
}

.imgmain
{
	flex: 1;
	justify-content: space-around;
}

.workcats
{
	display: flex;
	flex-wrap: wrap;
	margin: 20px;
}

.cat
{
	flex: 1;
	margin: 5px;
	position: relative;
}

img
{
	width: 100%;
	max-width: 960px;
}

/*Overlay Images Catagories*/
.overlay
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #2a2a2a;
}

.overlaytext
{
	color: white;
  font-size: 20px;
  position: absolute;
  border: solid 1px lightgrey;
  padding: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
 
}

.cat:hover .overlay {
  opacity: .9;

}


/* Nav Sidebar */

.title {
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 7px;
  color: #eee;
  border-bottom: 1px solid #222;
  background: #0A182B;
}

.nav li a {
  position: relative;
  display: block;
  padding: 20px 0 20px 50px;
  font-size: 12px;
  color: #eee;
  border-bottom: 1px solid #222;
}

.nav li a:before {
  font: 14px fontawesome;
  position: absolute;
  top: 19px;
  left: 20px;
}

.nav li:nth-child(1) a:before { content: '\f007'; }
.nav li:nth-child(2) a:before { content: '\f187'; }
.nav li:nth-child(3) a:before { content: '\f003'; }

.nav li a:hover {
  background: #2A5078;
}

.nav li a.active {
  box-shadow: inset 5px 0 0 #5b5, inset 6px 0 0 #222;
  background: #2A5078;
}

/* Desc. */

h1 {
  margin: 25px 0 15px;
  font-size: 28px;
  font-weight: 400;
}

h2 {
  font-size: 18px;
  font-weight: 400;
  color: #999;
}